<app-navbar></app-navbar>
<br>
<div class="row d-flex justify-content-center">
  <div class="col-5">
      <h4 style="padding-left: 20 px;" class="heading">Shopping Bag</h4>
  </div>
  <div class="col-7">
      <div class="row text-right">
          <div class="col-4">
              <h6 class="mt-2">Quantity</h6>
          </div>
          <div class="col-4">
              <h6 class="mt-2">Price</h6>
          </div>
      </div>
  </div>
</div>
<div>
<div *ngFor="let i of cartitems" >
<div class="container px-4 py-5 mx-auto">
  
  <div class="row d-flex justify-content-center border-top">
      <div class="col-5">
          <div class="row d-flex">
              <div class="book"><img style="width: 150px;" [src]="i.imgurl" alt=""> </div>
              <div style="margin-left: 50px;">

              </div>
              <div class="my-auto flex-column d-flex pad-left">
                  <h6 style="margin-left: 20px;" class="mob-text">{{i.category}}</h6>
                  <p class="mob-text">{{i.Description}}</p>
              </div>
          </div>
      </div>
      <div class="my-auto col-7">
          <div class="row text-right">
             
              <div class="col-4">
                  <div class="row d-flex justify-content-end px-3">
                      <p class="mb-0" id="cnt1">{{i.qnt}}</p>
                      <!-- <div class="d-flex flex-column plus-minus"> <span (click)="inc(i)" class="vsm-text plus">+</span> <span (click)="dec(i)" class="vsm-text minus">-</span> </div> -->
                  </div>
              </div>
              <div class="col-4">
                  <h6 class="mob-text">{{i.price}}₪</h6>
              </div>
              <div class="col-4">
                <button type="button" class="btn btn-danger" (click)="deletecart(i)">Remove</button>
            </div>
          </div>
      </div>
  </div>
</div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-12">
      <div class="card">
          <div class="row">
              <div class="col-lg-3 radio-group">
                  <div class="row d-flex px-3 radio"> <img style="width: 50px;" class="pay" src="https://i.imgur.com/WIAP9Ku.jpg">
                      <p class="my-auto">Credit Card</p>
                  </div>
                  <div class="row d-flex px-3 radio "> <img style="width: 50px;" class="pay" src="https://i.imgur.com/OdxcctP.jpg">
                      <p class="my-auto">Debit Card</p>
                  </div>
                  <div class="row d-flex px-3 radio  mb-3"> <img style="width: 50px;" class="pay" src="https://i.imgur.com/cMk1MtK.jpg">
                      <p class="my-auto">PayPal</p>
                  </div>
              </div>
              <div class="col-lg-5">
                  <div class="row px-2">
                      <div class="form-group col-md-6"> <label class="form-control-label">Name on Card</label> <input type="text" id="cname" name="cname" placeholder="Johnny Doe"> </div>
                      <div class="form-group col-md-6"> <label class="form-control-label">Card Number</label> <input type="text" id="cnum" name="cnum" placeholder="1111 2222 3333 4444"> </div>
                  </div>
                  <div class="row px-2">
                      <div class="form-group col-md-6"> <label class="form-control-label">Expiration Date</label> <input type="text" id="exp" name="exp" placeholder="MM/YYYY"> </div>
                      <div class="form-group col-md-6"> <label class="form-control-label">CVV</label> <input type="text" id="cvv" name="cvv" placeholder="***"> </div>
                  </div>
              </div>
              <div class="col-lg-4 mt-2">
                  <div><p class="mb-1 text-left">Total Quantity </p>
                    <h6 class="mb-1 text-right"></h6>{{cartitems.length}}</div>
                  <div class="row d-flex justify-content-between px-4" id="tax">
                      <p class="mb-1 text-left">Total</p>
                      <h6 class="mb-1 text-right">{{sum1}}₪</h6>
                  </div> <button class="btn-block btn-blue" (click)="pay()" > <span> <span id="checkout" >Checkout :</span> <span id="check-amt">{{sum1}}₪</span> </span> </button>
              </div>
          </div>
      </div>
  </div>
</div>
  <app-footer style="width: 100%;"></app-footer>
  