<div class="box" >
<div  class="list-group">
    <a (click)="showiphone()" style="background-color: rgb(70, 66, 66); color: white;"  class="list-group-item list-group-item-action">Iphone</a>
    <a (click)="showsamsung()" style="background-color: rgb(70, 66, 66);color: white;" class="list-group-item list-group-item-action" >Samsung</a>
    <a (click)=" showhuawei()" style="background-color: rgb(70, 66, 66);color: white;" class="list-group-item list-group-item-action">Huawei</a>
    <a (click)="showxiaomi()" style="background-color: rgb(70, 66, 66); color: white;" class="list-group-item list-group-item-action">Xiaomi</a>
  
  </div>
</div>