<app-navbar></app-navbar>

<div style="align-items: center;">
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img id="" class="card-img-top" src={{currentProduct.imgurl}} style="height: 250px;" alt="Card image cap">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Name: {{currentProduct.name}}</h3>
          <h5 class="list-group-item">Description: {{currentProduct.Description}}</h5>
          <h5 class="list-group-item">Price: {{currentProduct.price}}</h5>
           
        </div>
      </div>
    </div>
  </div>
</div>